html, body {
	height: 100%;
}


#wrapper {
	width: 100%;
	height: 100%;
}

#home-splash {

}

header {

}

.full-height {
	position: relative;
	min-height: 100%;
}

.elastic {
	width: 100%;
	height: auto;
}

.inspirational-quotes p {
	margin-top: 20px;
}