html, body {
	background: url('/images/cartographer.png') 0 0 repeat;
	height: 100%;
}

#wrapper {
	width: 85%;
	max-width: 768px;
	margin: 0 auto;
	background: #fff;
	min-height: 100%;
}

h1,
h2, 
h3,
h4,
h5,
h6,
header span,
.posts li {
	font-family: 'Special Elite', cursive;
}

.elastic {
	width: 100%;
	height: auto;
}
