<header class="row">
	<div id="header-details" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1>Michael Rispoli Development</h1>
		<span>/* creative frontend development */</span>
	</div>
	<div id="bg-slider" class="col-md-12">
		<div id="slide_one" class="slide active animate">
			<div class="color-frame">
			</div>
			<div class="bw-frame">
			</div>
		</div>
		<div id="slide_two" class="slide">
			<div class="color-frame">
			</div>
			<div class="bw-frame">
			</div>
		</div>
		<div id="slide_three" class="slide">
			<div class="color-frame">
			</div>
			<div class="bw-frame">
			</div>
		</div>
		<div id="slide_four" class="slide">
			<div class="color-frame">
			</div>
			<div class="bw-frame">
			</div>
		</div>
	</div>
</header>
