<div id="fixed-sidebar" class="js-fixed-sidebar col-xs-12 col-sm-12 col-md-3">
  <!-- begin navigation toggle -->
  <a id="nav-toggle" class="js-nav-toggle" href="/">
    <i class="bar bar-1"></i>
    <i class="bar bar-2"></i>
    <i class="bar bar-3"></i>
  </a>
  <!-- end navigation toggle -->
  <a id="site-name" href="#home">Michael Rispoli</a>
  <nav class="js-nav">
    <ul>
      <li><a href="#about">About Me</a></li>
      <li><a href="#resume">Resume</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#journal">Journal</a></li>
    </ul>
  </nav>
</div>
