<!doctype html>
<html>
<head>
  {% include head_2017.html %}
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      {% include sidebar_nav.html %}
      <div id="main-content" class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3">
        <section id="home">
          <div id="hero-splash" class="frosted">
            <div id="profile-text">
              <span id="hero-text">Hi, I'm Mike. I design and develop digital applications and interfaces.</span>
              <span id="sub-text">// My desk is messy and I rarely sit there, I cross-out, waste space, and write words in my notebook, I prefer ember over react and angular. I don’t do logos. I love CSS, black and white photography, writing, and responsive design. And for the love of God, please… don’t call me a unicorn.</span>
            </div>
          </div>
        </section>
        <section id="about">
          <div class="section-content">
              <h2 class="section-heading">// About Me</h2>
              <div class="section-text">
                <img id="profile-photo" src="/images/me_stef_horseback_riding@2x.png">
                <p>I am a creative technoligist, UX/UI designer, and frontend engineer specializing in creative website and user interface solutions. I have a wide array of experience from working with digital agencies to working with emerging SaaS marketing solutions.</p>
                <p>My journey into the world of design began in photography, in the dark room of my high school where I learned the beauty of unique composition and the simplicity of seeing the world in black and white. My passion for technology led me into the world of front-end engineering where I honed my skills in HTML, CSS, and javascript. I specialize in creative technology solutions, responsive web design, and UI development for businesses large and small. I am experienced in CMS development as well as front end MVC frameworks.</p>
                <p>My expertise and passion has led me to brand myself a full-stack designer, where I can own a project end to end, and blur the line that separates the machine from the visceral.</p>
              </div>
          </div>
        </section>
        <section id="resume">
          <div class="section-content">
            <h2 class="section-heading">// Resume</h2>
            <div class="section-text">
              <div class="job">
                <h3 class="job-title">Co-Founder &amp; Creative Director</h3>
                <span class="job-name-timeframe"><span class="job-name">Cause of a Kind, LLC</span> | <span class="job-timeframe">July 2017 - Present</span></span>
                <p class="job-learned-text">A sustainable apparel company and media outlet, that fights for the environment.</p>
              </div>
              <div class="job">
                <h3 class="job-title">Frontend Engineer</h3>
                <span class="job-name-timeframe"><span class="job-name">Hungry Inc.</span> | <span class="job-timeframe">Jan 2017 - Present</span></span>
                <p class="job-learned-text">A boutique creative agency based out of NOHO in Manhattan, Hungry specializes in creating unique web experiences for enterprise level clients. Here I work as a freelance front end developer specializing in Node.js microsites.</p>
              </div>
              <div class="job">
                <h3 class="job-title">Freelance Frontend Designer / Engineer</h3>
                <span class="job-name-timeframe"><span class="job-name">Bronz Agency</span> | <span class="job-timeframe">Jan 2016 - Present</span></span>
                <p class="job-learned-text">A creative and marketing agency specializing in small to medium-sized business ecommerce solutions. Here I was charged with designing and constructing responsive sites for ecommerce as well as blogs and businesses for professionals in Magento, Shopify and Joomla. I was also responsible for designing and developing responsive email campaigns for clients.</p>
              </div>
              <div class="job">
                <h3 class="job-title">Senior Forward Deployed Engineer</h3>
                <span class="job-name-timeframe"><span class="job-name">Bluecore</span> | <span class="job-timeframe">Sep 2014 - Jan 2017</span></span>
                <p class="job-learned-text">Bluecore is a SaaS solution that gives brands the power to use both user and catalog behavioral data to reach their customers in more personalized ways. The core of the product is an email solution where I was charged with authoring javascript integrations that gathered catalog data using site scraping as well as tracked the users behavior on site. I was also charged with designing and developing responsive email templates for brands as well as develop a framework similar to bootstrap to allow others to rapidly develop responsive emails in our system. This grew into a drag and drop user interface for building templates, giving this power to the marketer.</p>
              </div>
              <div class="job">
                <h3 class="job-title">Integration Engineer</h3>
                <span class="job-name-timeframe"><span class="job-name">Olapic</span> | <span class="job-timeframe">Nov 2013 - Sep 2014</span></span>
                <p class="job-learned-text">Olapic is a SaaS solution for curating and showcasing user generated content from social channels like instagram alongside the products that are featured in them. Here my was changed with developing gallery widgets on client websites from large enterprise brands to medium sized businesses that were on brand and pixel perfect. My team was also responsible for ingesting product feeds to from clients to specification. I was responsible for being resident expert in responsive design and implementing responsive design best practices and standards across the organization.</p>
              </div>
              <div class="job">
                <h3 class="job-title">Frontend Designer / Developer</h3>
                <span class="job-name-timeframe"><span class="job-name">Sysgen Media</span> | <span class="job-timeframe">Jul 2012 - Nov 2013</span></span>
                <p class="job-learned-text">Web designer and developer responsible for front-end integrations of Joomla, Wordpress, and Magento sites.</p>
              </div>
              <div class="job">
                <h3 class="job-title">Frontend Designer / Developer</h3>
                <span class="job-name-timeframe"><span class="job-name">New Dynamx</span> | <span class="job-timeframe">Mar 2012 - Nov 2012</span></span>
                <p class="job-learned-text">A creative and marketing agency specializing in small to medium-sized business ecommerce solutions. Here I was charged with constructing both ecommerce sites as well as blogs and brochure websites for professionals in a varienty of CMS solutions. I also designed and built front-end user interfaces for companies looking for a front end implementation to later be incorporated into a platform.</p>
              </div>
              <div class="well section-text">
                <p class="extended-resume-text">The above is what they in the industry call <em>relevant experience</em>. However, if you are like me and think that how a career is forged is more important than the end product check out my <a href="/" class="js-extended-resume-toggle"><em>irrelevant experience</em></a>.</p>
              </div>
              <div class="js-extended-resume extended-resume">
                <div class="job">
                  <h3 class="job-title">Head Route Setter</h3>
                  <span class="job-name-timeframe"><span class="job-name">Island Rock</span> | <span class="job-timeframe">Mar 2012 - Nov 2013</span></span>
                  <p class="job-learned-text">Manager in charge of the route setting team at Island Rock. Set up systems for cleaning and maintaining holds, budgeting new equipment, training new staff in the craft, and setting routes safely.</p>
                </div>
                <div class="job">
                  <h3 class="job-title">Management Trainee</h3>
                  <span class="job-name-timeframe"><span class="job-name">Enterprise Rent-A-Car</span> | <span class="job-timeframe">Aug 2010 - Dec 2011</span></span>
                  <p class="job-learned-text">Business management, customer service, sales, marketing. Received 5 customer letters noting exceptional service as well as being a top performer on sales and service matrices.</p>
                </div>
                <div class="job">
                  <h3 class="job-title">Waiter / Bartender</h3>
                  <span class="job-name-timeframe"><span class="job-name">The Would Restaurant &amp; Bar</span> | <span class="job-timeframe">Jan 2009 - Jun 2010</span></span>
                  <p class="job-learned-text">Restaurant management, event planning and coordination, fine dining service and bar tending.</p>
                </div>
                <div class="job">
                  <h3 class="job-title">Geography Lab Assistant</h3>
                  <span class="job-name-timeframe"><span class="job-name">SUNY New Paltz</span> | <span class="job-timeframe">Sep 2008 - Dec 2008</span></span>
                  <p class="job-learned-text">Teaching students ESRI ArcGIS, ArcMAP, AutoCad, GPS, and hand drafting cartographic techniques.</p>
                </div>
                <div class="job">
                  <h3 class="job-title">Intern</h3>
                  <span class="job-name-timeframe"><span class="job-name">NYS Department of Environmental Conservation</span> | <span class="job-timeframe">Jan 2008 - May 2008</span></span>
                  <p class="job-learned-text">Statistical analysis of ambient groundwater quality of lower Hudson Valley landfills utilizing Microsoft Excel and Access. Using this data to create GIS representations of our findings. Co-authored “Ambient Groundwater Quality in the Hudson Valley of Southeastern New York State” published in the International Journal of Soil, Sediment and Water Vol. 2, Issue 1, 2009.</p>
                </div>
                <div class="job">
                  <h3 class="job-title">Trail Crew Lead</h3>
                  <span class="job-name-timeframe"><span class="job-name">Minnewaska State Park Preserve</span> | <span class="job-timeframe">May 2007 - Oct 2009</span></span>
                  <p class="job-learned-text">Utilizing skills in landscape architecture for the preservation of historic carriage roads. Heavy machines operation and maintenance. Wild land fire fighting. Crew training, management, and coordination.</p>
                </div>
                <div class="job">
                  <h3 class="job-title">Waiter</h3>
                  <span class="job-name-timeframe"><span class="job-name">Beso</span> | <span class="job-timeframe">Sep 2006 - May 2008</span></span>
                  <p class="job-learned-text">Fine dining service.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="portfolio">
          <div class="section-content">
            <h2 class="section-heading">// Portfolio</h2>
            <div class="section-text">
              <blockquote>
                “Your turn. Imagine that the world had no middlemen, no publishers, no bosses, no HR folks, no one telling you what you couldn’t do. If you lived in that world, what would you do? Go do that.” - Seth Godin
              </blockquote>
              <p>Since being an entrepreneur is my true aspiration I am going to give that a try for a while.</p>
              <p>I'm currently in the process of building my own business with my business partner, <a href="https://www.linkedin.com/in/abramsjustin/">Justin Abrams</a>. Unfortunately that has not left me much time to create really nice case studies or fancy slides of my projects. If you want to keep up to date with our progress check out the site at <a href="https://www.causeofakind.com">causeofakind.com</a>. I will also be blogging in the <a href="#journal">journal</a> section of this site again. Stay tuned for tech tips and hardships as we try to bring this thing into the world.</p>
              <p>Since we have no funding, no board and no offices, a guy still has to make a living. As we bootrap our startup, you can see some of my previous design and development work on <a href="https://www.behance.net/mrispoli">behance</a>. I am also presently working for <a href="https://hungryinc.com/">Hungry Inc.</a> in New York City developing some really cool web projects for clients like Seabourn and Two Trees Management Co.</p>
            </div>
          </div>
        </section>
        <section id="contact">
          <div class="section-content">
            <h2 class="section-heading">// Contact</h2>
            <h3 class="form-heading">What can I help you with?</h3>
            <form id="contact-form">
    						<div class="form-group">
    							<input id="name" class="form-control" type="text" name="name" placeholder="name"/>
    							<span id="name-error" class="error-msg">Please enter your name.</span>
    						</div>
    						<div class="form-group">
    							<input id="replyTo" class="form-control" type="email" name="_replyto" placeholder="email"/>
    							<span id="email-error" class="error-msg">Please enter a valid email.</span>
    						</div>
    						<div class="form-group">
    							<input id="subject" class="form-control" type="text" name="_subject" placeholder="Subject"/>
    							<span id="subject-error" class="error-msg">Please enter a subject.</span>
    						</div>
    						<input id="gotcha" type="text" name="_gotcha" style="display: none;" />
    						<div class="form-group">
    							<textarea id="message" class="form-control" type="text" name="message" placeholder="How can I help?"/></textarea>
    							<span id="message-error" class="error-msg">Please enter a message.</span>
    						</div>
    						<div class="form-group">
    							<input class="btn btn-success" type="submit" value="Send">
    						</div>
    				</form>
    				<p id="success-message">Thank you for your submission, I will reach out shortly.</p>
          </div>
        </section>
        <section id="journal">
          <div class="section-content">
            <h2 class="section-heading">// Journal</h2>
            <div class="section-text">
              <ul class="posts">
  						  {% for post in site.posts %}
  						    <li><span>{{ post.date | date_to_string }}</span> &#123; <a href="{{ post.url }}">{{ post.title }}</a> &#125;</li>
  						  {% endfor %}
  						</ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- scripts here starting with jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/behave_2017.js"></script>
  <!-- end scripts -->
</body>
</html>
