<!doctype html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/styles_2017.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald:500" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div id="fixed-sidebar" class="col-sm-12 col-md-3">
        <a id="site-name" href="#home">Michael Rispoli</a>
        <nav>
          <ul>
            <li><a href="#about">About Me</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#journal">Journal</a></li>
          </ul>
        </nav>
      </div>
      <div id="main-content" class="col-sm-12 col-md-9 col-md-offset-3">
        <section id="home">
          <div id="hero-splash" class="frosted">
            <div id="profile-text">
              <span id="hero-text">Hi, I'm Mike. I design and develop digital applications and interfaces.</span>
              <span id="sub-text">// My desk is messy and I rarely sit there, I cross-out, waste space, and write words in my notebook, I prefer ember over react and angular. I don’t do logos. I love CSS, Adobe XD, and responsive design. And for the love of God, please… don’t call me a unicorn.</span>
            </div>
          </div>
        </section>
        <section id="about">
          <div class="section-content">
              <h2 class="section-heading">// About Me</h2>
              <div class="section-text">
                <img id="profile-photo" src="/images/profile_photo.jpg">
                <p>I am both a UX/UI designer and front-end engineer specializing in creative website and user interface solutions. I have a wide array of experience from working with digital agencies to working with emerging SaaS marketing solutions.</p>
                <p>My journey into the world of design began in photography, in the dark room of my high school where I learned the beauty of unique composition and the simplicity of seeing the world in black and white. My passion for technology led me into the world of front-end engineering where I honed my skills in HTML, CSS, and javascript. I specialize in creative technology solutions, responsive web design, and UI development for businesses large and small. I am experienced in CMS development as well as front end MVC frameworks.</p>
                <p>My expertise and passion has led me to brand myself a full-stack designer, where I can own a project end to end, and blur the line that separates the machine from the visceral.</p>
              </div>
          </div>
        </section>
        <section id="resume">
          <div class="section-content">
            <h2 class="section-heading">// Resume</h2>
          </div>
        </section>
        <section id="portfolio">
          <div class="section-content">
            <h2 class="section-heading">// Portfolio</h2>
          </div>
        </section>
        <section id="contact">
          <div class="section-content">
            <h2 class="section-heading">// Contact</h2>
          </div>
        </section>
        <section id="journal">
          <div class="section-content">
            <h2 class="section-heading">// Live Journal</h2>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- scripts here starting with jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/behave_2017.js"></script>
  <!-- end scripts -->
</body>
</html>
