<!doctype html>
<html>
<head>
	<title>Front End Review</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>	
	<link rel="stylesheet" href="/css/styles.css">
	<script src="/js/behave.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id ="wrapper" class="container-fluid">
		<header class="row">
			<div class="col-md-12">
				<h1>#Front-End-Review</h1>
				<span>/* the blog of <a href="http://github.com/mrispoli24">Michael Rispoli</a> */</span>
			</div>
		</header>
		<hr>
		<div class="row contents">
			<div class="col-md-12">
				{{ content }}
			</div>
		</div>
	</div>
</body>
</html>