<!doctype html>
<html>
<head>
	<title>My Personal Git Page</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>	
	<link rel="stylesheet" href="/css/styles.css">
	<script src="/js/behave.js"></script>
</head>
<body>
	<div id ="wrapper" class="container-fluid">
		<section id="home-splash" class="full-height">
			<header class="row">
				<div class="col-md-10">
					<h1>Integration Code Review</h1>
				</div>
				<div class="col-md-2">
					<h3>By: <a href="http://github.com/mrispoli24" target="_blank">mrispoli24</a></h3>
				</div>
			</header>
			<div class="row">
				<div class="col-md-12">
					<img class="elastic" src="/images/kratos_eyes-wide.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 inspirational-quotes text-center">
					<h3>Weekly Inspiration</h3>
					<p>Everybody gets so much information all day long that they lose their common sense.</p>
					<small><em><a href="http://en.wikipedia.org/wiki/Gertrude_Stein" target="_blank">Gertrude Stein</a></em></small>
					<p>One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man.</p>
					<small><em><a href="http://en.wikipedia.org/wiki/Elbert_Hubbard" target="_blank">Elbert Hubbard</a></em></small>
					<p>The page is not meant to be viewed in any previous, future, or theorectical version of IE.</p>
					<small><em><a href="http://github.com/mrispoli24" target="_blank">Michael Rispoli</a></em></small>
				</div>
				<div class="col-md-6">
					{{ content }}
				</div>
			</div>
		</section>
	</div>
</body>
</html>